<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abead.mapper.DepartmentMapper">
   <resultMap id="departmentMap" type="Department">
        <result property="DEPARTMENT_ID" column="DEPARTMENT_ID"/>
        <result property="DEPARTMENT_NAME" column="DEPARTMENT_NAME"/>
        <result property="MANAGER_ID" column="MANAGER_ID"/>
        <result property="LOCATION_ID" column="LOCATION_ID"/>
    </resultMap>
    <select id="selectAvgMax" resultMap="departmentMap">
           SELECT d.* FROM departments d
                WHERE d.department_id = (
                    SELECT tb2.department_id FROM(
                        SELECT tb1.department_id, MAX(tb1.avgSalary) FROM (
                            SELECT e.department_id, AVG(e.salary) avgSalary FROM employees e
                            GROUP BY e.department_id HAVING !ISNULL(e.department_id)
                )tb1
    )tb2
);
    </select>
</mapper>