<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abead.mapper.EmployeeMapper">
    <resultMap id="employeeMap" type="Employee">
        <result property="EMPLOYEE_ID" column="EMPLOYEE_ID"/>
        <result property="SALARY" column="SALARY"/>
        <result property="FIRST_NAME" column="FIRST_NAME"/>
        <result property="LAST_NAME" column="LAST_NAME"/>
        <result property="EMAIL" column="EMAIL"/>
        <result property="PHONE_NUMBER" column="PHONE_NUMBER"/>
        <result property="HIRE_DATE" column="HIRE_DATE"/>
        <result property="JOB_ID" column="JOB_ID"/>
        <result property="COMMISSION_PCT" column="COMMISSION_PCT"/>
        <result property="MANAGER_ID" column="MANAGER_ID"/>
        <result property="DEPARTMENT_ID" column="DEPARTMENT_ID"/>
    </resultMap>
    <select id="selectManageInfo" resultMap="employeeMap">
            select * FROM employees e
                   INNER JOIN departments d ON e.employee_id = d.manager_id
    </select>
</mapper>